<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Classifier</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Email Spam Classifier</h1>
    <div class="container">
        <form action="/" method="post">
            <label for="email_text">Enter email text:</label><br>
            <textarea name="email_text" required>{{ email_text }}</textarea><br>
            <label for="model">Choose a model:</label>
            <select name="model" id="model">
                {% for model_name in model_names %}
                    <option value="{{ model_name }}" {% if selected_model == model_name %}selected{% endif %}>{{ model_name }}</option>
                {% endfor %}
            </select><br>
            <input type="submit" value="Predict">
        </form>
    </div>

    {% if prediction is not none %}
    <div class="container">
        <div id="result">
            <h2>Result:</h2>
            <p>Prediction: {{ prediction }}</p>
            <p>Probability: {{ probability|round(3) }}</p>
            <p>Selected Model: {{ selected_model }}</p>
        </div>
    </div>
    {% endif %}
</body>
</html>
